<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Notícia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Adicionar Notícia</h1>
    <form action="/adicionar" method="POST">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br>
        <label for="conteudo">Conteúdo:</label><br>
        <textarea id="conteudo" name="conteudo" required></textarea><br>
        <label for="categoria">Categoria:</label><br>
        <input type="text" id="categoria" name="categoria" required><br><br>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>

